<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/kg.js"></script>
    <script src="/js/d3.v3.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/kg.css">
    <link rel="stylesheet" href="/css/reset.css">
    <!-- CSS reset -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Resource style -->
    <script src="/js/modernizr.js"></script>
    <!-- Modernizr -->
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <title>知识图谱可视化</title>
</head>

<body onload="load()">
    <div id="mulu" style="width: 20%;height: 90%; ; float: left;position:absolute;left:7%;top:5%;">
        <ul class="cd-accordion-menu animated">

        </ul>
    </div>
    <div id="container" style="width: 60%;height: 90%; ; float: right;position:absolute;left:32%;top:5%;box-shadow: 0 4px 40px #000000;"></div>
</body>
<script src="/js/main.js"></script>
<script>
    var links = [];
    //node = {source: '10.1.1.0/24',stype:"NetWork",target: '10.1.2.121',ttype:"Host",type: 'Permit',rela: 'ACL6'};
    //links.push(node);
    function load() {
        $.ajax({
            type: "GET",
            url: "/getAllHostAccess",
            data: {

            },
            dataType: "json",
            success: function(data) {
                //[{"name":"FROM_host_166.112.3.10_TO_host_116.112.3.13","subject":"166.112.3.10","object":"116.112.3.13","accessControl":{"name":"ACL4","control":"Deny"}}]
                for(var i = 0;i < data.length;++i){
                    links.push({
                        source: data[i].subject,
                        stype: data[i].stype,
                        target: data[i].object,
                        ttype: data[i].otype,
                        type: data[i].accessControl.control,
                        rela:data[i].accessControl.name
                    });
                }
                //console.log(links);
                startKG(links);
            },
            error:function (err) {
                alert("error");
            }
        });

    }

</script>